body {
  background-color: #3498db;
}

a {
  color: #34495e
}

hr {
  color: #e67e22;
}

.reviewbox {
  background-color: #e67e22;
  border-radius: 15px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  margin-top: 10px;

}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

h2 {
  margin-top: 10px;
}

h3 {
  margin-top: 0px;
}

.footsec {
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin-top: 25%;
  height: 40px;
  background-color: #2980b9;
}

.footsec p {
  padding-top: 10px;
  color: #34495e;
}

.navbar-default {
  background-color: #2980b9;
  border-color: #2c3e50;
  border-radius: 0px;
}



.navbar-default .navbar-brand {
    color: #161e7d;
}

.reviewcon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
